<!-- <div class="cookie-consent-model" >
    <div class="cookie-content">
            <h1><i class="fas fa-cookie">
              <br>
            </i> ALLOW COOKIES </h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel id voluptatem quaerat assumenda est, <br>
              magnam eligendi culpa suscipit quibusdam sit incidunt porro laudantium itaque distinctio atque ipsa velit, asperiores neque.</p>
        <div class="btns">
            <button class="cookie-btn-cancel">Cancel</button>
            <button class="cookie-btn-accept">Accept</button>
        </div>
    </div>
  </div>
-->
 


<script src="https://www.google.com/recaptcha/api.js" async defer></script>
</body>
</html>
